<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4f027a41bf.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/home.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="heading">
          <h1>TODO App</h1>
          <i class="fa-solid fa-list-check"></i>
        </div>

        <form action="" method="POST">
          <div id="description">
            <h2>DESCRIPTION</h2>
            <input
              type="text"
              name="task"
              placeholder="What do you need to do ?"
              required
            />
          </div>

          <!-- common container for category and due-date -->

          <div class="category-duedate-container">
            <!-- 1) category container -->

            <div class="category">
              <h2>CATEGORY</h2>
              <div class="selector">
                <div id="select-field">
                  <p id="selectText">Choose a category</p>
                  <i id="drop-arrow" class="fa-solid fa-caret-down"></i>
                </div>
                <ul id="list" class="hidden">
                  <li class="options">
                    <p>Personal</p>
                  </li>
                  <li class="options">
                    <p>Work</p>
                  </li>
                  <li class="options">
                    <p>College</p>
                  </li>
                  <li class="options">
                    <p>School</p>
                  </li>
                  <li class="options">
                    <p>Cleaning</p>
                  </li>
                  <li class="options">
                    <p>Other</p>
                  </li>
                </ul>
              </div>
            </div>

            <!-- 2) due-date container -->

            <div class="due-date">
              <h2>DUE DATE</h2>
              <input type="date" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="/home.js"></script>
  </body>
</html>
