/* firstly setting an common basic css for our todo -app */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*  setting basic css for .main div in which our main container lieas  */

.main {
  height: 100vh;
  width: 100%;
  padding: 10px;
}

/* setting an  container  */

.container {
  min-height: 582px;
  width: 700px;
  border: 1px solid #7d7d7d;
  margin: 50px auto 0px;
  /* padding: 10px; */
}

/* styling heading of our app which is an TODO APP */

.container .heading {
  /* text-align: center; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .heading h1 {
  font-weight: 500;
}
.container .heading i {
  font-size: 34px;
  margin-left: 20px;
}

.container #description {
  border-top: 1px solid #9e9e9e;

  padding: 10px 10px 15px 23px;
}
.container #description:hover {
  background: #f3f3f3;
}

.container #description h2 {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
}
.container #description input {
  border: none;
  outline: none;
  width: 668px;
  background: transparent;
  font-size: 16px;
  margin-top: 6px;
}

.container #description input::placeholder {
  font-size: 17px;
}

/* common container for  category and duedate   */

.category-duedate-container {
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  /* padding: 10px 10px 15px 23px; */
  display: flex;
}

.category-duedate-container .category {
  border-right: 1px solid #9e9e9e;
  width: 50%;
  padding: 10px 10px 15px 23px;
}
.category:hover {
  background: #f3f3f3;
}
.category-duedate-container .category h2 {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
}
.category .selector {
  /* padding: 10px; */
  width: 300px;
  position: relative;
}
.category .selector #select-field {
  width: 100%;
  color: #7d7d7d;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.category .selector #select-field i {
  font-size: 18px;
  transition: transform 0.5s;
}
.category .selector #list {
  width: 100%;
  border: 0.4px solid rgb(152, 152, 152);
  position: absolute;
  overflow: hidden;
  border-radius: 6px;
  z-index: 9999999;
  background: #ffffff;
}
.category .selector #list .options {
  list-style: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.category .selector #list .options:hover {
  background: #f1f0f0;
}
/* hidden class for the drop down feature */
.hidden {
  visibility: hidden;
}
.rotate {
  transform: rotate(180deg);
}
.category-duedate-container .due-date {
  width: 50%;
  padding: 10px 10px 15px 23px;
}
.due-date:hover {
  background: #f3f3f3;
}
.category-duedate-container .due-date h2 {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
}
.category-duedate-container .due-date input[type="date"] {
  padding: 10px 15px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

/* Styling ADD TASK and DELETE TASK Button */

.btn-container {
  border-bottom: 1px solid #cfcfcf;
  padding: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container #addTask-btn {
  border: none;
  outline: none;
  padding: 11px 19px;
  background: #444444;
  color: #fff;
  font-size: 19px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-container #addTask-btn i {
  font-size: 21px;
  margin-right: 4px;
}

/* styling DELETE TASK Button */

.btn-container #deleteTask-btn {
  border: none;
  outline: none;
  padding: 11px 19px;
  background: #ee351e;
  color: #fff;
  font-size: 19px;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;
}

.btn-container #deleteTask-btn i {
  font-size: 21px;
  margin-right: 9px;
}

/* styling an TaskList container */

.list-container {
  border: 1px solid black;
  padding: 10px;
}
.list-container li {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.list-container li h2 {
  font-weight: 600;
  color: #3e3e3e;
  font-size: 17px;
  border: 1px solid black;
  width: 473px;
}
.list-container li i {
  margin-right: 10px;
  font-size: 22px;
}
.list-container li .task-content {
  border: 1px solid black;
  padding: 10px;
}
.task-content .date-in-list p {
  border: 1px solid black;
  width: 99px;
  /* padding: 10px; */
}
.date-in-list {
  display: flex;
  margin-top: 10px;
  color: #898989;
}
.task-content .date-in-list i {
  font-size: 22px;
}

/* various button designs for drop down options such as work school college and others */

.list-container li .work-btn {
  background: #9c00af;
  color: #fff;
  padding: 10px 20px;
}
.list-container li .work-btn p {
  font-size: 16px;
}
